@import "tailwindcss";



.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.grid-subtle {
  background-image: linear-gradient(to right, #e2e2e2 1px, transparent 1px),
                    linear-gradient(to bottom, #e2e2e2 1px, transparent 1px);
  background-size: 40px 40px;
}

.data-monolith-gradient {
  background: linear-gradient(180deg, #3b3b3b 0%, #000000 100%);
}

.glass-effect {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
